
.left-side-menu {
	position: fixed;
	top: 7%;
}

.left-side-menu > a {
	left: 0;
	display: block;
}

.top-menu {
	position: fixed;
	text-align: center;
}

.main-page {
	margin-left: 15%;
	position: absolute;
	top: 7%;    
	height: 85%;
    overflow: overlay;
    /*żeby ukryć boczny pasek przewijanie*/
    padding-right: 5%;
    margin-right: -2%;
}

.footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	text-align: center;
	float: bottom; 
    background: rgb(255, 255, 255);
}
.footer > img {
    height: 50px;
    margin: 5px;
}

/*.login {
	position: absolute;
	right: 3%;
}*/
calendar {
	float: left;
	display: block;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	background: white;
	width: 300px;
	border: solid 1px #cccccc;
	margin-bottom: 10px;
}
calendar > div.header {
	float: left;
	width: 100%;
	background: #2875c7;
	height: 40px;
	color: white;
}

calendar > div.header > i.fa-angle-left {
    text-align: left;
}
.fa-angle-left:before {
    content: "\f104";
}

calendar > div.header > span {
    float: left;
    width: 100%;
    font-weight: bold;
    text-transform: uppercase;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding-left: 50px;
    margin-left: -40px;
    text-align: center;
    padding-right: 40px;
    color: inherit;
}
calendar > div.header > i {
    float: left;
    width: 40px;
    font-size: 1.125em;
    font-weight: bold;
    position: relative;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 0 10px;
    cursor: pointer;
}
calendar > div.header > * {
    height: 40px;
    line-height: 40px !important;
    display: inline-block;
    vertical-align: middle;
}
.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
calendar > div.header > i.fa-angle-right {
    text-align: right;
    margin-left: -40px;
}
.fa-angle-right:before {
    content: "\f105";
}
			
			calendar > div.week {
				float: left;
				width: 100%;
				border-top: solid 1px #cccccc;
			}
			calendar > div.week > span.day.different-month {
    color: #C0C0C0;
}
calendar > div.week > span.day:first-child {
    border-left: none;
}
calendar > div.week > span.day {
    float: left;
    width: 14.28571429%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    border-left: solid 1px #cccccc;
    font-size: 0.75em;
    text-align: center;
    height: 30px;
    line-height: 30px !important;
    display: inline-block;
    vertical-align: middle;
    background: white;
    cursor: pointer;
    color: black;
}

calendar > div.week > span.day.today {
    background: #E3F2FF;
}
calendar > div.week > span.day.selected {
    background: #2875c7;
    color: white;
}
calendar > div.week.names > span {
    color: #2875c7;
    font-weight: bold;
}
			
			