<div>
	<div ng-if="!loginData.logged">
		<div>Zaloguj się</div> </br>
		<div class="login" >

			<form ng-submit="login()" method="post" autocomplete="true">
				<label for="login">Nazwa użytkownika lub e-mail:</label>
				<input class="form-control" type="text" name="login" placeholder="Your username" required="true" ng-model="loginData.username">
					<div class="alert alert-danger fade in" ng-if="userExist">
					<a  class="close" data-dismiss="alert" aria-label="close">&times;</a>
					<strong>Warning!</strong> Nazwa użytkownika jest już zajęta!
					</div>

				<label for="password">Hasło:</label>
				<input type="password" name="password" class="form-control" placeholder="Your password" ng-model="registrationData.password">
					<br>
				<input type="submit"  class="btn btn-default btn-block" value="Zaloguj">
				
			</form>
		</div>
	</div>

	<div ng-if="loginData.logged" class="alert alert-danger fade in">
	<a  class="close" ng-if="userExist"data-dismiss="alert" aria-label="close">&times;</a><h1>LOGGED :) </h1>
	<div ng-if="error"><h1>Wystąpił błąd! :( </h1></div></div>
	
	<a href="#home" class="btn-link">Powrót</a>
</div>