/* .vertical-centre {
				height:400px;
				line-height:400px !important;
				display:inline-block;
				vertical-align:middle;
			} */

			/* .border-box {
				box-sizing:border-box;
				-moz-box-sizing:border-box;
			} */
/*.calendar-day {
	.hours >span {
		 height: 40% !important; 
		 overflow-y: scroll;
	}
}*/
			calendar {
				float:left;
				display:block;
				box-sizing: border-box;
				background:white;
				width:300px;
				border:solid 1px #CCC;
				margin-bottom:10px;
				

				>div.header {
					float:left;
					width:100%;
					background:#2875C7;
					height:40px;
					color:white;
					
					/* >* { 
						.vertical-centre: 40px;
					} */
					
					>i {
						float:left;
						width:40px;
						font-size:1.125em;
						font-weight:bold;
						position:relative;
						box-sizing: border-box;
						padding:0 10px;
						cursor:pointer;
					}
					
					>i.fa-angle-left {
						text-align:left;
					}
					
					>i.fa-angle-right {
						text-align:right;
						margin-left:40px;
					}
					
					>span { 
						float:left;
						width:100%;
						font-weight:bold;
						text-transform:uppercase;
						box-sizing: border-box;
						padding-left:40px+10px;
						margin-left:40px;
						text-align:center;
						padding-right:40px;
						color:inherit;
					}
				}
				>div.week {
					float:left;
					width:100%;
					border-top:solid 1px #CCC;
					
					&:first-child {
						border-top:none;
					}
					
					>span.day {
						float:left;
						width:100%/7;
						.border-box;
						border-left:solid 1px #CCC;
						font-size:0.75em;
						text-align:center;
						.vertical-centre(30px);
						background:white;
						cursor:pointer;
						color:black;
						
						&:first-child {
							border-left:none;
						}
						
						&.today {
							background:#E3F2FF;
						}
						
						&.different-month {
							color:#C0C0C0;
						}
						
						&.selected {
							background:#2875C7;
							color:white;
						}

						&.reserved {
							background: red !important;
							/*color: red;*/
						}
					}
					
					&.names>span {
						color:#2875C7;
						font-weight:bold;
					}
				}
			}
			